.git
.next
**/.next
.pnpm-store
.turbo
**/.turbo
coverage
**/coverage
data
dist
**/dist
node_modules
**/node_modules
playwright-report
**/playwright-report
test-results
**/test-results
*.log
.env*
**/.env*
!.env.example
!**/.env.example
